.footer{
    background-color: #393E46;
    text-align: center;
    margin-top: auto;
    .redes{
        a{
            margin: 24px;
        }
    } 
    .texto{
        text-align: center;
        font-family: 'Kanit', sans-serif
    }
}

