.navBar{
	display: flex;
	flex-wrap: wrap;
	gap: 70px;
	margin-right: 65px;
	li{
		list-style: none;
		a{
			text-decoration: none;
			color: #EEEEEE;
			font-size: 24px;
			font-family: 'Quicksand', sans-serif;
		}
	}
}
